services:
  - type: web
    name: lotofacil-api
    env: python
    plan: free
    autoDeploy: true
    buildCommand: pip install --upgrade pip && pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    healthCheckPath: /health
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.5
      # Ajuste de caches (opcional)
      - key: AGG_TTL_SEC
        value: "600"
      - key: CAIXA_TTL_SEC
        value: "600"
      - key: HTTP_TIMEOUT
        value: "12"
